#headerWordGreen {
    color: #789485;
    font-size: 60px;
    line-height: 40px;
    letter-spacing: -5px;
    text-transform: lowercase;
}

#headerWordTeal {
    color: #004a52;
    font-size: 60px;
    line-height: 40px;
    letter-spacing: -5px;
    text-transform: lowercase;
}

#headerWordCreme {
    color: #fef5da;
    font-size: 60px;
    line-height: 40px;
    letter-spacing: -5px;
    text-transform: lowercase;
}

#headerWordRed {
    color: #ff7373;
    font-size: 60px;
    line-height: 40px;
    letter-spacing: -5px;
    text-transform: lowercase;
}

#subHeaderWord {
    color: #789485;
    font-size: 40px;
    line-height: 25px;
    letter-spacing: -3px;
    text-transform: lowercase;
}

#profilePic {
    width: 220px;
    height: 250px;
    object-fit: cover;
}

a, a:hover {
    color: teal
}