#headerWord {
    color: teal;
    font-size: 80px;
    line-height: 60px;
    letter-spacing: -7px;
    text-transform: lowercase;
}

#subHeaderWord {
    color: slategray;
    font-size: 40px;
    line-height: 25px;
    letter-spacing: -3px;
    text-transform: lowercase;
}

#profilePic {
    width: 220px;
    height: 250px;
    object-fit: cover;
}