#thumbnailPic {
    width: 50px;
    height: 60px;
    object-fit: cover;
}

#tripFont {
    font-family: 'Caveat', cursive;
}

#postcard {
    background-color: #f8f5f0;
    border-radius: 25px;
}

#headerDiv {
    background-color: #468499;
    color: #fef5da;
    font-family: 'DM Sans', sans-serif;
}